<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/923e628944.js"></script>
    <!-- stylesheet -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="sp-cont">

        <div class="spinner">
            <svg viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="length" fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28">
                </circle>
            </svg>
            <svg viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
            <svg viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
            <svg viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
        </div>

    </div>

    <div class="container" id="main-container">
        <div class="row bg-my-showcase text-light">
            <img id="profile" :src="getPicAddress()" alt="" class="offset-md-1">
            <div class="bg-transparent col-md-6 offset-md-1 " style="align-self: flex-end">
                <h1>john watson</h1>
                <p class="lead">graphic designer</p>
            </div>
        </div>

        <div class="row bg-white">
            <div class="col-md-4 ml-2">
                <section id="personal">
                    <h3 class="text-primary mb-3">personal</h3>
                    <table class="table table-borderless">
                        <tbody>

                            <personal v-if="Personal" v-for="(item, index) in Personal" :key="index" :info="index"
                                :val="item"></personal>

                        </tbody>
                    </table>
                </section>
                <hr>
                <section>
                    <h3 class="text-primary">skills</h3>
                    <skill v-for="(s,i) in Skills" :key="i" :skill="i" :pers="s"></skill>

                </section>
                <hr>
                <section id="contact">
                    <h3 class="text-primary">contact</h3>

                    <contact v-if="Contact" :tel="Contact.Tel" :email="Contact.Email" :address="Contact.Address"
                        :website="Contact.Website"></contact>



                </section>
            </div>
            <div class="col-md-7 border-left">
                <div class="container mt-3">
                    <h3 class="text-primary text-uppercase">profile</h3>
                    <p class="blockquote">
                        <b>i'm {{Name}}</b>
                        {{Profile}}
                    </p>
                </div>
                <hr>

                <education :education="Education"></education>

                <hr>
                <xp :xp="Experience"></xp>
                <hr>
                <ref :refr="Reference"></ref>
            </div>
        </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>

    <script src="dist/index.js"></script>

</body>

</html>